In [4]:
import numpy as np
import pandas as pd
import re

In [6]:
a = np.arange(8)        # 0..8
print(a)

b = a[4:6]              # 4,5
print(b)

b[:] = 40
print(a)
print(b)

c = a[4] + a[6]
print(c)

[0 1 2 3 4 5 6 7]
[4 5]
[ 0  1  2  3 40 40  6  7]
[40 40]
46

In [7]:
string = 'ABCAC'

In [9]:
bool(re.match('A', string))

True

In [10]:
re.match('A', string) == True

False

In [11]:
re.split('A', string)

['', 'BC', 'C']

In [13]:
len(re.search('A', string))

TypeError: object of type 're.Match' has no len()

***Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right.         
We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA.           
Complete the code given below that would output the required result.***

In [47]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = "[^A]{1}[A]{3}"
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group()[0])
      
    return result

In [48]:
result()

['C', 'F', 'B']

In [49]:
store_1 = pd.Series([20, 15, 18, 31], index = ["Mango", "Strawberry", "Blueberry", "Vanilla"])

In [50]:
store_2 = pd.Series([20, 30, 15, 20, 20], index = ["Strawberry", "Vanilla", "Banana", "Mango", "Plain"])

In [51]:
store_1.add(store_2)

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [52]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [57]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [55]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [58]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [59]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [67]:
df = pd.DataFrame([[5, 6, 20], [5, 82, 28], [71, 31, 92], [67, 37, 49]], index = ["R1", "R2", "R3", "R4"], columns = ["a", "b", "c"])

In [70]:
df.apply(lambda x: x.max() + x.min())[1]

88

In [76]:
data = pd.read_csv(r"D:/Introduction-to-Data-Science-in-Python/week-3/datasets/cwurData.csv")

In [81]:
data.unstack().unstack()

,0,1,2,3,4,5,6,7,8,9,...,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199
world_rank,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
institution,Harvard University,Massachusetts Institute of Technology,Stanford University,University of Cambridge,California Institute of Technology,Princeton University,University of Oxford,Yale University,Columbia University,"University of California, Berkeley",...,Xidian University,Federal University of Bahia,Southwest Jiaotong University,Ryerson University,King Abdulaziz University,University of the Algarve,Alexandria University,Federal University of CearÃ¡,University of A CoruÃ±a,China Pharmaceutical University
country,USA,USA,USA,United Kingdom,USA,USA,United Kingdom,USA,USA,USA,...,China,Brazil,China,Canada,Saudi Arabia,Portugal,Egypt,Brazil,Spain,China
national_rank,1,2,3,1,4,5,2,6,7,8,...,81,17,82,33,4,7,4,18,40,83
quality_of_education,7,9,17,10,2,8,13,14,23,16,...,367,367,367,367,367,367,236,367,367,367
alumni_employment,9,17,11,24,29,14,28,31,21,52,...,542,540,327,567,449,567,566,549,567,567
quality_of_faculty,1,3,5,4,7,2,9,12,10,6,...,218,218,218,218,218,218,218,218,218,218
publications,1,12,4,16,37,53,15,14,13,6,...,830,962,937,811,595,926,997,830,886,861
influence,1,4,2,16,22,33,13,6,12,5,...,974,865,962,969,430,845,908,823,974,991
citations,1,4,2,11,22,26,19,15,14,3,...,812,645,812,511,645,812,645,812,812,812
broad_impact,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,984.0,969.0,998.0,975.0,994.0,969.0,981.0,975.0,975.0,981.0
patents,5,1,15,50,18,101,26,66,5,16,...,434,774,861,756,839,816,871,824,651,547
score,100.0,91.67,89.5,86.17,85.21,82.5,82.34,79.14,78.86,78.55,...,44.03,44.03,44.03,44.03,44.03,44.03,44.03,44.03,44.02,44.02
year,2012,2012,2012,2012,2012,2012,2012,2012,2012,2012,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015

In [84]:
data.groupby("country").sum()

C:\Users\Anoban\AppData\Local\Temp\ipykernel_1700\1541192783.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("country").sum()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
country,,,,,,,,,,,,
Argentina,5038,16,2117,3489,1422,4042,4205,3655,4783.0,5561,312.71,14101
Australia,28844,762,16653,22246,11178,24245,23264,25127,26799.0,27443,2657.88,116833
Austria,13239,156,7955,10460,4647,13821,11923,12614,11968.0,12857,1083.35,48348
Belgium,7246,110,4954,7453,3460,7855,7978,5759,6749.0,7193,940.22,40290
Brazil,26941,342,12537,15914,7704,22399,26168,21888,26514.0,23008,1612.12,72522
Bulgaria,1671,2,488,1045,428,1612,1755,1051,1615.0,1608,88.67,4029
Canada,28817,1105,20667,20850,13131,26972,29068,23062,27577.0,32693,3409.87,145031
Chile,5235,20,2591,2943,1712,5085,4110,4749,5006.0,3920,358.14,16116
China,114832,7056,57859,67041,35734,98291,125418,106364,118155.0,88472,7513.76,336421
Colombia,3108,6,1444,948,856,3553,2591,2255,3699.0,2984,177.73,8058
Croatia,1115,2,722,1045,428,1125,1069,834,931.0,1076,89.54,4029
Cyprus,1881,2,722,1045,428,1622,1783,1254,1809.0,1553,88.42,4029
Czech Republic,6985,30,3424,5218,2038,6649,6024,5413,6335.0,6505,447.61,20145
Denmark,2792,32,3166,3703,1716,2818,2766,2096,2352.0,2984,573.29,24170
Egypt,7422,20,2529,4076,1640,7089,6940,4939,7311.0,6432,353.84,16116
Estonia,1093,2,718,1045,428,1186,706,774,953.0,685,89.62,4029
Finland,8367,92,5856,7355,3772,8356,7786,9487,7817.0,10652,910.63,40286
France,54623,2530,28602,46712,19748,55302,47900,51550,53982.0,54352,5054.04,219560
Germany,43784,3089,30248,46758,20884,42172,37445,41945,38213.0,48256,5337.51,231657
Greece,8245,56,4686,6716,2996,7054,10084,7255,7350.0,10716,627.96,28203
Hong Kong,4167,42,3637,4233,2344,3292,7230,4447,3874.0,4155,555.54,24174
Hungary,8211,42,3558,6270,2335,8450,7702,7044,7634.0,6673,535.24,24174
Iceland,977,2,722,1045,428,1241,606,631,778.0,1576,89.96,4029
India,19794,256,10057,10823,6629,20956,25246,18572,22069.0,17810,1386.11,62450
Iran,14243,72,5155,8360,3424,11391,15188,10907,13850.0,12864,708.32,32232
Ireland,9567,72,5194,6416,3389,10276,9572,7477,9178.0,5614,723.76,32232
Israel,3995,76,2631,5462,1764,4531,4230,6322,4415.0,2654,1158.39,44303
Italy,47020,2258,31480,45953,18947,44811,47259,44337,40994.0,60575,4363.22,193388
Japan,83994,5586,46417,61013,29883,97119,83727,77425,83382.0,56190,7509.50,320284
Lebanon,1243,2,217,452,428,1807,1742,1612,1729.0,1608,89.31,4029
Lithuania,1629,2,666,1045,428,1589,1370,1254,1484.0,1421,88.71,4029
Malaysia,3175,12,2166,2343,1284,4403,5349,3570,5106.0,1109,270.05,12087
Mexico,2212,6,1233,2069,856,1502,1574,1608,2153.0,1894,180.41,8058
Netherlands,6289,186,7333,9141,5100,4953,6975,5361,5027.0,10665,1390.79,58414
New Zealand,6488,42,3607,4114,2568,6555,5818,5624,6665.0,7040,541.35,24174
Norway,4167,32,3043,4171,1732,3959,3553,2961,3549.0,6165,555.96,24170
Poland,13796,90,5408,8616,3719,12240,13563,10388,13635.0,11973,800.95,36261
Portugal,7805,56,4436,6911,2618,6602,7524,6821,7491.0,6470,631.33,28203
Puerto Rico,1939,2,722,1045,428,1997,1571,1254,1877.0,1608,88.35,4029
Romania,2930,4,925,1612,646,2556,2435,2066,2870.0,2479,132.40,6044
Russia,3794,22,769,2816,1441,5473,4868,4446,5871.0,6570,426.43,18130
Saudi Arabia,6002,20,2888,2743,1527,5987,5251,5923,7615.0,3772,356.09,16116
Serbia,1535,2,556,1045,428,870,1396,1004,1515.0,1561,88.84,4029
Singapore,509,7,1545,1343,957,327,1110,674,647.0,133,250.80,10071
Slovak Republic,1417,2,722,1045,428,1416,1249,1138,1218.0,1608,88.98,4029
Slovenia,2688,6,1444,2090,856,2406,2494,1751,2440.0,2548,178.46,8058
South Africa,3619,30,2507,1271,1913,4978,3858,3398,5038.0,4209,463.99,20145
South Korea,37130,1263,25246,29285,15190,40085,48168,41053,44176.0,13441,3326.28,145041
Spain,50581,1681,28382,38062,17322,45281,51633,46044,49818.0,35327,3644.26,163174
Sweden,5915,134,5409,7858,3585,6147,5855,5257,5231.0,17456,1149.36,48344
Switzerland,4733,110,3446,6025,2703,5618,3893,4301,3945.0,7319,1331.43,52361
Taiwan,33415,556,15308,19404,9828,26198,35876,31186,33338.0,34139,2070.57,92665
Thailand,3365,12,2166,2181,1284,3804,3683,2811,3586.0,4814,270.70,12087
Turkey,15073,110,7006,8583,4280,14614,15956,11035,14589.0,15901,889.62,40290
USA,166473,56034,125187,147556,83216,194572,160517,147293,159504.0,169768,29704.24,1154078
Uganda,1760,2,722,1045,428,1797,1364,1254,1641.0,1608,88.56,4029
United Arab Emirates,1874,2,722,999,428,1977,1672,1612,1803.0,1115,88.44,4029
United Kingdom,54498,4282,33929,44105,24012,57017,50082,45974,52048.0,60972,7124.35,290058
Uruguay,1800,67,722,1045,428,1754,1413,1612,1698.0,1608,88.51,4029